<p align="justify">
The peering ecosystem of Brazil (IX.br) has his own characteristics when analyzed
in perspective to regions like the United States and Europe. The IX.br has become
worldwide the largest national set of public Internet eXchange Points (IXP) and
shows a growing number of internationally connected Autonomous Systems (AS).
Despite its considerable success, we have little understanding of its deployments
and performance. Motivated by recent developments in connectivity to the country
and the growing commercial interest from Internet Service Providers (ISPs) and
Application Providers (App Providers) to interconnect, we profile Brazil’s network
starting from the IXPs going towards ASs level information. Through extensive
measurements, we reveal Brazil’s footprint, its traffic patterns, volumes,
external connections, and the treatment given to international traffic going to
and from the country. This study is a fundamental part of our project Networks@Scale
which includes IXPs, ISPs, app providers and the end-users, exposing the dynamic
aspects and evolution of Internet online service delivery chain ecosystem.
</p>

<p><b>Lead by:</b></p>
<div class="row">
      <img src="{{ site.data.people[1].photo_url }}" class="alignleft" alt="{{ site.data.people[1].name }}">
      <b>{{ site.data.people[1].name }}</b><br>
      {{ site.data.people[1].role }}<br>
      {{ site.data.people[1].email }}<br>
      <a href="{{ site.data.people[1].url }}" target="_blank" title="{{ site.data.people[1].name }}">{{ site.data.people[1].url }}</a><br>
    <br>
</div>
