<p align="justify">
Internet eXchange Points (IXPs) play a central role on the Internet topology.
Their increasing popularity is directly related to the business relationships
between Autonomous Systems (ASes), which are interconnecting through IXPs to
reduce transit costs and shorten paths. Nevertheless, establishing agreements
between ASes continues to take days or weeks, limiting the ability to respond
to changes in the topology or loads. Additionally, their prices do not
reflect fluctuations of link offer-demand, resulting in long-term contracts
with over-provisioned links. We propose leveraging the characteristics of IXPs
as the foundation of DYNAMIX, a dynamic agreement marketplace.
</p>

<p><b>Lead by:</b></p>
<div class="row">
      <img src="{{ site.data.people[3].photo_url }}" class="alignleft" alt="{{ site.data.people[3].name }}">
      <b>{{ site.data.people[3].name }}</b><br>
      {{ site.data.people[3].role }}<br>
      {{ site.data.people[3].email }}<br>
      <a href="{{ site.data.people[3].url }}" target="_blank" title="{{ site.data.people[3].name }}">{{ site.data.people[3].url }}</a><br>
    <br>
</div>
