<p align="justify">
We propose to exploit the coopetition between Internet Service Providers (ISPs) and
Application Providers (App Providers) enabling information transparency to an active
cooperative traffic control resulting in an optimized user-perceived application experience.
In this paper, we describe the design requirements and propose Harmony, a
system that improves the simplicity and flexibility of information exchange
between App Providers and ISPs. Currently, App Providers and ISP share information
in an ad-hoc manner, i.e. on a case-by-case basis, which causes them to make
painstaking efforts and use unreliable inferences (e.g. topology, traffic) for
QoE optimization. As a consequence, these individual efforts result in suboptimal
QoE because neither the App Provider nor the ISP have a global (broader) view
about the network state and interconnections. Specifically, raw performance
metrics improvements do not necessarily enhance QoE as expected, and disjoint
efforts fail to leverage the network interconnection properties fully.
</p>

<p><b>Lead by:</b></p>
<div class="row">
      <img src="{{ site.data.people[1].photo_url }}" class="alignleft" alt="{{ site.data.people[1].name }}">
      <b>{{ site.data.people[1].name }}</b><br>
      {{ site.data.people[1].role }}<br>
      {{ site.data.people[1].email }}<br>
      <a href="{{ site.data.people[1].url }}" target="_blank" title="{{ site.data.people[1].name }}">{{ site.data.people[1].url }}</a><br>
    <br>
</div>
