<p align="justify">
A adoção de técnicas de monitoramento de redes culminou em ampla disponibilidade de dados brutos.
Entretanto, pouco avanço se obteve em termos de análise dos mesmos em profundidade e inferências
sobre o comportamento da rede, por causa da escala e complexidade das redes de longa distância e
o grande volume de dados de distribuídos. Este GT investiga métodos para analisar os dados coletados
pelos monitoramentos da rede IPÊ resultando em um sistema para fornecer inferências que auxiliem
os processos de operação, engenharia de tráfego e planejamento.
</p>

<p><b>Contexto</b></p>
<p align="justify">
Diversas técnicas, padrões e ferramentas de monitoramento de redes foram desenvolvidas no passado
e vêm amadurecendo de forma apoiar as necessidades de operação. Seu uso permitiu coletar e armazenar
um grande volume de dados brutos. Entretanto, houve pouco avanço na análise desses dados em profundidade
e na geração de inferências sobre o comportamento da rede.
</p>

<p><b>Motivação</b></p>
<p align="justify">
A escala e complexidade das redes atuais torna difícil (ou até intratável) a tarefa de analisar grandes
volumes de dados com as ferramentas atuais. Além disso, a heterogeneidade dos dados brutos fornecidos –
seja por equipamentos com capacidades de medição distintas, variação na granularidade das informações
coletadas ou medições isoladas – dificulta a padronização da análise dos mesmos.
</p>

<p><b>Proposta</b></p>
<p align="justify">
Este GT desenvolve um sistema para analisar os dados coletados pelos monitoramentos existentes na rede
IPÊ usando técnicas de Análise de Grandes Volumes de Dados (Big Data Analytics). O objetivo é fornecer
diversas informações relevantes para amparar a gerência de operações, a engenharia de tráfego e o
planejamento da rede. Para tanto, o sistema proverá correlações e categorizações automatizadas, perfis
de uso personalizados e sobre diferentes aspectos, filtragem e manipulação interativas, análise de
causa-raiz para eventos na rede, estatísticas sobre a eficiência da engenharia de tráfego e possibilidade de
análise do impacto de mudanças.
</p>

<img src="{{ site.urlimg }}collage-abstract-ipeanalytics.png"><br>

<p align="center">Visão Geral da Proposta do Projeto.</p>

<p><b>Objetivos Específicos</b></p>
<p align="justify">
1) <b>Mapeamento das Informações</b> fornecidas pelas ferramentas de monitoramento da rede IPÊ. Esse objetivo
possibilita entender quais são todos os dados brutos passíveis de análise e obter acesso a eles (ou subconjunto disponível).<br>
2) <b>Estudo e Processamento dos Dados</b> para o desenvolvimento das estratégias de análise de grande volume
de informações, visando a extração de correlações e inferências. Tal atividade é composta por três partes essenciais:
(a) identificação de inferências e correlações disponíveis, (b) exploração de técnicas de processamento de grandes
volumes de dados, e (c) análise de estruturas de manipulação e armazenamento de dados.<br>
3) <b>Inclusão de Interatividade na Análise dos Dados</b> para aumentar o controle dos operadores sobre dados e análises e
facilitar investigações. Será incluso suporte a consultas personalizadas com filtros avançados e a manipulação da visualização dos resultados.<br>
4) <b>Revisitação das Coletas Realizadas</b>, com o objetivo de gerar novas inferências. Essa tarefa é viabilizada após a
execução dos procedimentos anteriores. Neste ponto serão consideradas métricas que agregam grande valor e que
possam ser incluídas com relativa facilidade pelas equipes responsáveis pelas atividades de monitoramento da infraestrutura.
</p>
