<p align="justify">
The project is being developed using the physical infrastructure and internal equipment of the proposing institution, as well as cloud resources from Microsoft Azure, originated of a <a href="https://www.microsoft.com/en-us/research/academic-program/microsoft-azure-for-research/">Microsoft Research</a> concession.
</p>

<p><b>Meeting minutes and project progress reports</b></p>
All the documentation referring to the Work Group can be acessed at <a href="http://wiki.rnp.br/">RNP's Wiki (restricted access)</a>

<p><b>Source code of the service prototype</b></p>
The source code is available at <a href="git.rnp.br">git.rnp.br (restricted access)</a>. Instructions about the access can be found at <a href="http://wiki.rnp.br/display/GT/Gitlab">http://wiki.rnp.br/display/GT/Gitlab</a>.

<p><b>Links:</b></p>
<ul>
  <li><a href="https://www.rnp.br/en/noticias/rnp-announces-selected-working-groups-in-2017">RNP announces selected working groups in 2017</a></li>
  <li><a href="https://www.rnp.br/pesquisa-e-desenvolvimento/grupos-trabalho">Working Groups program</a></li>
</ul>
