<p align="justify">
O projeto conta com recursos físicos equipamentos internos da instituição proponente e
recursos da nuvem Microsoft Azure, originados de uma concessão da <a href="https://www.microsoft.com/en-us/research/academic-program/microsoft-azure-for-research/">Microsoft Research</a>.
</p>

<p><b>Atas de reuniões e relatórios de andamento do projeto</b></p>
Toda a documentação referente ao GT está acessível via <a href="http://wiki.rnp.br/">Wiki da RNP (acesso restrito)</a>.

<p><b>Código fonte do protótipo do serviço</b></p>
O código fonte está disponível em <a href="git.rnp.br">git.rnp.br (acesso restrito)</a>. Instruções sobre o acesso estão disponíveis em <a href="http://wiki.rnp.br/display/GT/Gitlab">http://wiki.rnp.br/display/GT/Gitlab</a>.

<p><b>Links:</b></p>
<ul>
  <li><a href="https://www.rnp.br/noticias/rnp-anuncia-os-grupos-trabalho-selecionados-2017">RNP anuncia os Grupos de Trabalho selecionados em 2017</a></li>
  <li><a href="https://www.rnp.br/pesquisa-e-desenvolvimento/grupos-trabalho">Programa de Grupos de Trabalho</a></li>
</ul>
