<p align="justify">
We rely on two cooperating control planes, logically centralized and logically distributed, 
to build a more robust programmable WAN. Unlike previous work, which depends on the 
centralized plane for maintaining functionality and only uses the distributed plane for 
connectivity, we give the latter enough autonomy so that it can enforce policies without 
the former. That is, the centralized plane only supports programmability and optimization, 
while the logically distributed one propagates and enforces policies. Our key insight is 
to have the centralized plane “advise” the distributed one which policies should be enforced 
and how to implement them efficiently; it is up to the distributed plane to do the job. 
We expect this design to scale to large networks and preserve policy requirements under 
several adverse scenarios (including churning, partitions, and lack of controller reachability).
</p>

<p><b>Lead by:</b></p>
<div class="row">
      <img src="{{ site.data.people[2].photo_url }}" class="alignleft" alt="{{ site.data.people[2].name }}">
      <b>{{ site.data.people[2].name }}</b><br>
      {{ site.data.people[2].role }}<br>
      {{ site.data.people[2].email }}<br>
      <a href="{{ site.data.people[2].url }}" target="_blank" title="{{ site.data.people[2].name }}">{{ site.data.people[2].url }}</a><br>
    <br>
</div>
