---
layout: page
format: blog-index
---
<p>
Networks@Scale is carried out in the Institute of Informatics of the Federal
University of Rio Grande do Sul (UFRGS) and we collaborate closely with collegues from IX.br and CGI.br / NIC.br.

For further information please contact us.
</p><br>
{% for p_item in site.data.people %}
    <div class="row">
          <img src="{{ p_item.photo_url }}" class="alignleft" alt="{{ p_item.name }}">
          <b>{{ p_item.name }}</b><br>
          {{ p_item.role }}<br>
          {{ p_item.email }}<br>
          <a href="{{ p_item.url }}" target="_blank" title="{{ p_item.name }}">{{ p_item.url }}</a><br>
        <br>
    </div>
{% endfor %}
<br>
<h2 class="font-size-h3 t10">Collaborators</h2>
<div>
  <b>Leandro Márcio Bertholdo (aka BERTHOLDO, L. M.)</b><br>
  Technical Coordinator at PoP-RS and IX.br<br>
  berthold@pop-rs.rnp.br<br>
  <a href="http://pop-rs.rnp.br/~berthold/" target="_blank" title="Leandro Márcio Bertholdo">http://pop-rs.rnp.br/~berthold/</a><br><br>
  <a href="http://ix.br/" alt="IX.br"><img src="{{ site.urlimg }}ixbr_logo.png" style="float: left; margin: 0;"></a>
  <a href="http://www.cgi.br/" alt="CGI.br and NIC.br"><img src="{{ site.urlimg }}CGI_NICbr.png" style="float: left; margin: 4px 0 0 0;"></a>
</div>
