---
layout: page
format: blog-index
---
<p>
The project IPÊ Analytics has as it development base the Informatics Institute of the Federal University of Rio Grande do Sul (UFRGS),
including the collaboration of the Inria Paris international research center. 
Further, our team has strong interaction and cooperation with RNP.br, IX.br and CGI.br / NIC.br. For more information, please, contact us.
</p><br>
<h2 class="font-size-h3 t10">Coordenadores do Projeto</h2>
{% for p_item in site.data.teachers %}
    <div class="row">
          <img src="{{ p_item.photo_url }}" class="alignleft" alt="{{ p_item.name }}">
          <b>{{ p_item.name }}</b><br>
          {{ p_item.role }}<br>
          {{ p_item.email }}<br>
          <a href="{{ p_item.url }}" target="_blank" title="{{ p_item.name }}">{{ p_item.url }}</a><br>
        <br>
    </div>
{% endfor %}
<br>
<h2 class="font-size-h3 t10">Assistentes</h2>
{% for p_item in site.data.students %}
    <div class="row">
          <img src="{{ p_item.photo_url }}" class="alignleft" alt="{{ p_item.name }}">
          <b>{{ p_item.name }}</b><br>
          {{ p_item.role }}<br>
          {{ p_item.email }}<br>
          <a href="{{ p_item.url }}" target="_blank" title="{{ p_item.name }}">{{ p_item.url }}</a><br>
        <br>
    </div>
{% endfor %}
<br>
<h2 class="font-size-h3 t10">Contributors</h2>
<div>
  <b>Leandro Márcio Bertholdo (aka BERTHOLDO, L. M.)</b><br>
  Technical Coordinator PoP-RS e RS-IX (IX.br)<br>
  berthold@pop-rs.rnp.br<br>
  <a href="http://pop-rs.rnp.br/~berthold/" target="_blank" title="Leandro Márcio Bertholdo">http://pop-rs.rnp.br/~berthold/</a><br>
</div>
<br>
<h2 class="font-size-h3 t10">RNP R&amp;D Coordination</h2>
<div>
  <b>Alex Soares de Moura (R&amp;D Manager)</b><br>
  alex.moura@rnp.br<br>
  <b>Marcos Felipe Schwarz (R&amp;D Coordinator)</b><br>
  marcos.schwarz@rnp.br<br><br><br>
  <a href="http://rnp.br/" alt="RNP.br"><img src="{{ site.urlimg }}rnp_logo.jpg" style="float: left; margin: 4px 0 0 8px;"></a>
  <a href="http://ix.br/" alt="IX.br"><img src="{{ site.urlimg }}ixbr_logo.png" style="float: left; margin: 0;"></a>
  <a href="http://www.cgi.br/" alt="CGI.br and NIC.br"><img src="{{ site.urlimg }}CGI_NICbr.png" style="float: left; margin: 4px 0 0 0;"></a>
</div>
